@charset "UTF-8";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  color: #4a4a4a;
  letter-spacing: .5px; }

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 18px; }
  .title span {
    font-size: 12px;
    font-weight: 200; }

.more_button {
  position: relative;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  border: 2px solid #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .more_button::after {
    position: absolute;
    right: 10px;
    top: 50%;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #4a4a4a;
    border-right: 2px solid #4a4a4a;
    -webkit-transform: rotate(45deg) translate(0, -50%);
            transform: rotate(45deg) translate(0, -50%);
    -webkit-transition: .3s;
    transition: .3s; }
  .more_button:hover {
    background-color: #4a4a4a;
    color: #fafafa; }
    .more_button:hover::after {
      border-color: #fafafa; }

.header {
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 1;
  width: 300px; }
  .header__lists {
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px; }
  .header__list {
    padding: 10px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s; }
    .header__list:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      color: #d33333; }

.news {
  height: 300px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px -10px;
          box-shadow: 0px 10px 20px -10px;
  background-color: #fafafa; }
  .news__lists {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__list {
    width: 250px;
    height: 180px;
    background-color: #ccc;
    position: relative; }
  .news__content {
    color: #fafafa;
    background-color: #455A64;
    height: 40px;
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 16px; }
  .news__date {
    font-size: 13px; }

.top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ECEFF1));
  background: linear-gradient(#fcfcfc, #ECEFF1);
  z-index: -1;
  -webkit-box-shadow: 0px -15px 20px -10px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0px -15px 20px -10px rgba(0, 0, 0, 0.3) inset; }
  .top__images {
    width: 50%;
    height: 100%;
    left: 0; }
  .top__image {
    position: absolute;
    height: 100%;
    width: 800px;
    overflow: hidden; }
    .top__image--up {
      -webkit-box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.4);
              box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.4);
      top: 0;
      left: -300px;
      background-color: #e53935;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg); }
    .top__image--down {
      -webkit-box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.3);
              box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.3);
      width: 900px;
      left: -300px;
      -webkit-transform: skewX(60deg);
              transform: skewX(60deg);
      bottom: -350px;
      background-color: #1E88E5; }
    .top__image-inner {
      height: 100%;
      background-repeat: no-repeat; }
      .top__image-inner::after {
        position: absolute;
        width: 120%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        content: ""; }
      .top__image-inner--up {
        width: 1850px;
        background-image: url("../img/top.jpg");
        background-position: -70px -200px;
        background-size: cover;
        -webkit-transform: skewX(30deg);
                transform: skewX(30deg); }
        .top__image-inner--up::after {
          background-color: rgba(46, 126, 164, 0.3); }
      .top__image-inner--down {
        background-image: url("../img/top2.jpg");
        width: 1850px;
        background-position: -100px -100px;
        background-size: 70%;
        -webkit-transform: skewX(-60deg);
                transform: skewX(-60deg); }
        .top__image-inner--down::after {
          background-color: rgba(208, 2, 27, 0.25); }
  .top__right {
    opacity: 0;
    width: 50%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top__logo {
    width: 75%;
    min-width: 500px;
    max-width: 600px;
    position: absolute;
    right: -180px; }
  .top__title {
    position: absolute;
    font-size: 32px;
    right: 250px;
    top: 68%;
    color: #4a4a4a; }
  .top__lines {
    position: fixed;
    right: 0; }

.detail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e4e9ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .detail-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 35% 0 0; }
  .detail__left {
    margin-top: 7%;
    width: 50%;
    margin-right: auto; }
  .detail__title {
    margin: 0 auto;
    width: 80%; }
  .detail__content {
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 22px;
    margin-top: 40px; }
    .detail__content span {
      font-weight: 600;
      font-size: 20px;
      display: block; }
  .detail__right {
    width: 50%;
    height: 100%;
    overflow: hidden; }
  .detail__image {
    width: 110%; }
  .detail__button {
    margin-top: 50px; }

.genre {
  background-color: #3949AB; }
  .genre__title {
    width: 30%;
    margin-bottom: 20px; }
    .genre__title div {
      width: 80%;
      margin: 0 auto; }
  .genre__list {
    width: 100%;
    height: 300px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s; }
    .genre__list:hover {
      background-size: 108%; }
    .genre__list--hiphop {
      background: -webkit-gradient(linear, left top, right top, from(rgba(238, 9, 121, 0.5)), to(rgba(0, 199, 255, 0.5))), url("../img/hiphop.jpg");
      background: linear-gradient(90deg, rgba(238, 9, 121, 0.5), rgba(0, 199, 255, 0.5)), url("../img/hiphop.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--lock {
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 87, 114, 0.5)), to(rgba(255, 255, 28, 0.5))), url("../img/lock.jpg");
      background: linear-gradient(90deg, rgba(0, 87, 114, 0.5), rgba(255, 255, 28, 0.5)), url("../img/lock.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--pop {
      background: -webkit-gradient(linear, left top, right top, from(rgba(222, 97, 97, 0.5)), to(rgba(38, 87, 255, 0.5))), url("../img/pop.jpg");
      background: linear-gradient(90deg, rgba(222, 97, 97, 0.5), rgba(38, 87, 255, 0.5)), url("../img/pop.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--house {
      background: -webkit-gradient(linear, left top, right top, from(rgba(247, 157, 0, 0.4)), to(rgba(5, 195, 209, 0.4))), url("../img/house.jpg");
      background: linear-gradient(90deg, rgba(247, 157, 0, 0.4), rgba(5, 195, 209, 0.4)), url("../img/house.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--girls {
      background: -webkit-gradient(linear, left top, right top, from(rgba(211, 61, 28, 0.5)), to(rgba(202, 14, 219, 0.5))), url("../img/girls.jpg");
      background: linear-gradient(90deg, rgba(211, 61, 28, 0.5), rgba(202, 14, 219, 0.5)), url("../img/girls.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--break {
      background: -webkit-gradient(linear, left top, right top, from(rgba(22, 191, 253, 0.5)), to(rgba(203, 48, 102, 0.5))), url("../img/about5.jpg");
      background: linear-gradient(90deg, rgba(22, 191, 253, 0.5), rgba(203, 48, 102, 0.5)), url("../img/about5.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
    .genre__list--freestyle {
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 75, 31, 0.5)), to(rgba(31, 221, 255, 0.5))), url("../img/freestyle.jpg");
      background: linear-gradient(90deg, rgba(255, 75, 31, 0.5), rgba(31, 221, 255, 0.5)), url("../img/freestyle.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center; }
  .genre__content {
    color: #fafafa;
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px; }
  .genre__name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px; }
  .genre__intro {
    font-size: 14px;
    line-height: 20px;
    margin-left: 40px;
    padding-left: 20px;
    border-left: 1px solid #fafafa; }
